body {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    line-height: 1.54;
    color: #444;
    font-size: 12px;
}

a:hover {
    text-decoration: none;
}

#loader {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 6px solid #f3f3f3;
    border-radius: 50%;
    border-top: 6px solid #3498db;
    width: 30px;
    height: 30px;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
}

.dataload {
    position: relative;
}

.data-loading {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 14px;
    color: #fa9918;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    z-index: 999;
    margin: auto;
    display: inline-flex;
    background-color: rgba(0, 0, 0, 0.1);
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.h1, h1 {
    font-size: 24px;
    line-height: 36px;
}

.form-control {
    box-shadow: none;
}

.table {
    margin-bottom: 0;
}

.long-url {
    max-width: 25vw;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.open-action {
    display: block;
    height: 24px;
    width: 24px;
    border: 1px solid #ddd;
    border-radius: 50%;
    background-color: #ddd;
    line-height: 24px;
    text-align: center;
    cursor: pointer;
}

.open-action a {
    display: block;
}

.dropdown-menu {
    font-size: 12px;
}

.help-block {
    color: red;
    background-color: cornsilk;
}

.contextMenuPlugin {
    outline: 1px solid #ddd;
    padding: 3px;
}

.contextMenuPlugin > .gutterLine {
    left: 0;
    margin-right: 3px;
}

.contextMenuPlugin > li > a {
    padding-left: 10px;
}

.contextMenuPlugin > li.divider {
    margin-left: 5px;
}

.total-clicks {
    margin: 15px auto;
    width: max-content;
    position: relative;
    min-height: 35px;
    padding: 4px 8px;
    font-size: 10px;
    font-weight: bold;
    background-color: white;
    border: 1px solid #c6c6c6;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

.count {
    font-size: 22px;
    line-height: 22px;
    color: #444;
}

.btn-back {
    cursor: pointer;
}